// Variables

$gray0: rgb(30, 30, 30);
$gray1: rgb(70, 70, 70);
$gray2: rgb(110, 110, 110);
$gray3: rgb(150, 150, 150);
$gray4: rgb(180, 180, 180);

$stdBorder: 1px solid black;
$stdShadow: 0 8px 8px 5px #00000033;
