.Nav {
  $h: 6rem;
  display: flex;
  justify-content: space-between;
  width: 36rem;
  height: $h;
  padding: 0 2.2rem;
  background-color: indigo;
  border-radius: 500px;
  z-index: 10;
  @include printer {
    display: none;
  }
  &__link {
    $color1: violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $h;
    height: $h;
    padding: 0.5rem;
    color: $color1;
    svg {
      $w: 70%;
      width: $w;
      height: $w;
      stroke: $color1;
      fill: $color1;
    }
    &Text {
      font-size: 1rem;
      font-family: "Varela Round", sans-serif;
    }
    &:hover {
      $color2: lightpink;
      svg {
        fill: $color2;
        stroke: $color2;
      }
      .Nav__linkText {
        color: $color2;
      }
    }
    &--active {
      $color3: white !important;
      svg {
        fill: $color3;
        stroke: $color3;
      }
      .Nav__linkText {
        color: $color3;
      }
    }
  }
}
