.NotFound__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(50, 0, 0);
}

.NotFound {
  $shadowColor: red;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Diablo", "Montserrat", sans-serif;
  &__title {
    margin-bottom: 1rem;
    background-image: url(../../assets/img/lava.gif);
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36vmin;
    font-weight: 666;
  }
  &__subtitle {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 666;
    color: maroon;
    text-shadow: 1px 0 0 $shadowColor, -1px 0 0 $shadowColor,
      0 1px 0 $shadowColor, 0 -1px 0 $shadowColor;
  }
  &__content {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
    color: rgb(200, 0, 0);
  }
}
